/*首单减5元*/
.coupon-content { font-size: 12px; line-height: normal; font-family: helvetica}
.coupon-item { position: relative; width: 95%; padding: 6px; box-sizing: border-box; margin: 10px auto; background: #e0e0e0;}
.coupon-item:before, .coupon-item:after { content: ''; position: absolute; top: 0; bottom: 0; width: 6px; height: 100%; background: url(../images/shark.png) repeat-y 0 0; background-size: 6px 10px;}
.coupon-item:before { left: -6px;}
.coupon-item:after { right: -6px; -moz-transform:scaleX(-1); -webkit-transform:scaleX(-1); -o-transform:scaleX(-1); transform:scaleX(-1);}
.coupon-top { overflow: hidden;}
.ticket-amount { float: left; width: 100px; padding: 5px; padding-bottom: 15px; margin-right: 10px; background: #04c29c; color: #fff;}
.ticket-amount .t1, .ticket-amount .t2, .ticket-amount .t3 { display: block; -webkit-box-flex: 1; width: 100%; text-align: center;}
.ticket-amount .t1 { font-size: 23px; background: #fff; color: #04c29c;}
.ticket-amount .t2 { font-size: 60px; margin-top: 15px;}
.ticket-amount .t2 .icon { font-size: 23px; font-style: normal;}
.ticket-amount .t3 { font-size: 22px;}
.ticket-info { overflow: hidden; color: #444;}
.coupon-issuers { height: 30px; text-align: center;}
.coupon-issuers img { height: 100%;}
.coupon-explain { margin-top: 8px;}
.coupon-code { line-height: 24px; padding: 10px 0; margin-top: 10px; text-align: center; font-size: 14px; background: #a09f9f; color: #fff;}

/*优惠券*/
.m-coupon { width: 90%; margin: 0 auto 2rem;}
.type1:before { content: '\20'; position: absolute; width: 5px; height: 100%; background: url(../images/mask.png) 0 0 repeat-y;}
.coupon { display: -webkit-box; position: relative; margin-top: 2rem; box-shadow: 5px 10px 15px rgba(0,0,0,.3); background: #ff8355;}
.coupon .price { padding: 0 1rem; text-align: center; font-size: 2.5rem; background: #fff719; border-right: dashed 1px #ff8355; color: #ff8355;}
.type1 .price { padding-top: 3rem; line-height: 100%;}
.coupon .price .icon { font: 500 1.2rem/1.2rem arial;}
.coupon .price .small { font-size: 1.2rem;}
.coupon .info { -webkit-box-flex: 1; padding: 0 1rem;}
.coupon .grant { display: -webkit-box; padding: .4rem 0; border-bottom: dashed 1px #fff;}
.coupon .grant .logo { height: 22px;}
.logo img { height: 100%; vertical-align: middle;}
.coupon .grant .code { -webkit-box-flex: 1; width: 100%; text-align: right; font-family: arial; color: #fff;}
.coupon .explain { line-height: 1.4rem; padding: .6rem 0; font-size: 1.2rem; color: #fff;}
.coupon .code2 { padding: .3rem 0; border-top: dashed 1px #fff; font-size: 1.2rem; color: #fff;}
.type2 { -webkit-box-orient:vertical;}
.type2 .price { padding: .6rem 0; font-size: 2rem; background: none; border-bottom: dashed 1px #fff; color: #fff719;}
.type2:before { content: '\20'; position: absolute; width: 5px; height: 100%; background: url(../images/mask.png) 0 0 repeat-y;}
.type2 .explain { text-align: center;}
.type3 .price { width: 87px; background: #51eaa7;}
.type3 .img {padding: 1rem 0;}
.type3 .img img{  width: 100%; vertical-align:middle;}
.type3 .logo { font-size: 1.4rem; color: #fff;}
.type4 { width: 100%; display: block; text-align: center;}
.type4 img { width: 100%; vertical-align: middle;}
.gray { -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray;}

/*优惠券*/
.ticket_di,.ticket_58,.ticket_jiayou,.ticket_daojia,.ticket_renrenche,.ticket_renrenche_1000,.ticket_renrenche_5zhe{ padding: 8px 10px 0; border-bottom:6px solid #fff;}
.ticket_di p,.ticket_58 p,.ticket_jiayou p,.ticket_daojia p,.ticket_renrenche p,.ticket_renrenche_1000 p,.ticket_renrenche_5zhe p { padding: 4px 0; text-align: right; color:#fff; font:600 14px/22px 'microsoft yahei';}
.return{ margin-top:10%;}

/*img*/
.img img { width: 100%; vertical-align: middle;}

/*页头*/
.topNav{ height:50px; text-align:center; background:#ff520c;}
.topNav h1 { font-weight: 700; font-size: 30px; line-height: 50px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; color:#fff;}
/*头图*/
.figure .txt { position: relative; width:84%; padding:3%; margin: -26px auto 0; font-size: 14px; border:1px dashed #fff; background-color:rgba(72,64,42,.5); color: #fff;}
/*异业券*/
.redeem { padding: 0 1rem; margin-bottom: 10px; border-bottom: 5px solid #fff;}
.redeem .txt { height: 30px; line-height: 30px; text-align: right; font-size: 14px; color: #fff;}
.appreciation { margin-top: 1rem; background: #008f77}
.ticketList { padding-top: 1rem}
.ticketList .redeem:last-child { margin-bottom: 10px; border-bottom: none}
/*弹出层*/
.popTicket { display: none; -webkit-transition: all linear .4s; transition: all linear .4s; position: fixed; left: 50%; top: 30%; z-index: 1000; width: 260px; height: 205px; padding: 18px 18px 25px; text-align: center; margin-left: -130px; -webkit-box-sizing: border-box; box-sizing: border-box; box-shadow: none; background: url(../images/pop.png) 0 0 no-repeat; border: 0; pointer-events: auto; background-size: cover; opacity: 1}
.popTicket .inner { width: 100%; height: 100%; display:-webkit-box; -webkit-box-orient:horizontal; -webkit-box-pack:center; -webkit-box-align:center; display:-moz-box; -moz-box-orient:horizontal; -moz-box-pack:center; -moz-box-align:center; display:-o-box; -o-box-orient:horizontal; -o-box-pack:center; -o-box-align:center; display:-ms-box; -ms-box-orient:horizontal; -ms-box-pack:center; -ms-box-align:center; display:box; box-orient:horizontal; box-pack:center; box-align:center;}
.popTicket .msg p { line-height: 30px; color: #fff}
.popTicket .msg .p1 { font-size: 20px}
.popTicket .msg .p2 { font-size: 16px; font-weight: 700}
.popTicket .msg .p3 { width: 100%; margin: 0 auto; font-size: 20px; font-weight: 700; line-height: 42px; border-radius: 5px; background: #efe939; color: #08672d}
.popTicket .msg .p4 { font-size: 14px; color: #efe939}
.popTicket .msg .p5 { font-size: 14px; color: #000}
.popTicket i { position: absolute; right: 0; top: 0; width: 24px; height: 24px; line-height: 24px; text-align: center; border-radius: 100%; color: #fff; background: #f00;}
.popTicket .btns { margin-top: 12px}
.btns { text-align: center;}
.popTicket .btns .btn { display: block; width: 142px; height: 35px; line-height: 32px; padding: 0; margin: 0 auto; text-align: center; font-size: 20px; background: url(../images/btn.png) 0 0 no-repeat; border: 0; background-size: cover; color: #f6f7cb}
/*我的券使用规则*/
.useRule { display: none; position: fixed; left: 50%; top: 50%; z-index: 1000; box-shadow: none; border: 0; pointer-events: auto; width: 90%; margin-left: -45%; padding: 5px 0; text-align: left; opacity: 1; background: #ed1414; color: #fff;}
.useRule .urTop { padding:  0 10px 10px; background: #fd5656}
.useRule h5 { padding: 8px 0 4px; font-size: 13px; color: #fbff8f}
.useRule .urBottom { padding: 10px; background: #ed1414}
.useRule .btns { padding: 10px 0;}
.btn-close { background-color: #ff0; border: 0; color: #666}
/*mask*/
.mask { display: none; -webkit-transition: all linear .4s; transition: all linear .4s; position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; background: rgba(0,0,0,.8)}

#wrapper{position:relative;width:100%;height:300px;overflow:hidden;padding:0 10px 10px;background:#fd5656;-webkit-box-sizing:border-box;-ms-touch-action:none;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none}
#scroller{position:absolute;padding:0 10px 10px 0;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0)}