@charset "UTF-8";
/*reset*/
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, fieldset, input, textarea, pre { margin: 0; padding: 0}
h1,h2,h3,h4,h5,h6 { font-size: 100px; font-weight: 400}
i,cite,em,var,address,dfn { font-style: normal}
em, strong, i, s, b, u { font-style: normal; font-weight: normal; text-decoration: none;}
a:-webkit-any-link { text-decoration: none}
table { border-collapse: collapse; border-spacing: 0}
fieldset,iframe { border: 0}
ol,ul {	list-style: none}
input,textarea,select,button { font-family: inherit; font-weight: inherit; font-size: inherit; margin: 0}
select,button,input { color: inherit}
input[type="submit"],input[type="reset"],input[type="button"],input{ -webkit-appearance:none}
input:focus, textarea:focus { outline: none}
input:focus{ -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-modify:read-write-plaintext-only}
html { -webkit-text-size-adjust: none;  font-size: 100px;}
body { font: .14rem/1.5 'Helvetica Neue',Helvetica,sans-serif;}
a { text-decoration: none; -webkit-tap-highlight-color: transparent; color: #666}
a img {	border: 0; vertical-align: middle;}

/*用于将 html body 禁止滚动条*/
.active-page, .active-page body { width: 100%; height: 100%; overflow: hidden; -webkit-transform-origin: 0px 0px; -webkit-transform: scale(1, 1);}
/*加载中*/
.loading {
	-webkit-animation: rotate 1.2s linear infinite;
	-ms-animation: rotate 1.2s linear infinite;
	animation: rotate 1.2s linear infinite;
	background: url(../images/game//loading.png) no-repeat 50% 50%;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	position: relative;
	top: 45%;
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(360deg)
	}
}
@keyframes rotate {
	from {
		-webkit-transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(360deg)
	}
}
.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
/*button*/
.btn{ font-size: .14rem; font-weight: 400; line-height: 1.42; position: relative; display: inline-block; margin-bottom: 0; padding: 6px 12px; cursor: pointer; text-align: center; vertical-align: top; white-space: nowrap; color: #fff; border-radius: 9px; margin: 0 auto; background: #fff32b; box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 -5px 6px rgba(0,0,0,.25) inset}
.btnz{ font-size: .14rem;
font-weight: 400;
line-height: 50px;
position: relative;
display: inline-block;
margin-bottom: 0;
padding: 6px 12px;
cursor: pointer;
text-align: center;
vertical-align: top;
white-space: nowrap;
color: #fff;
height: 70px;
border-radius: 9px;
margin: 0 auto;
background: #fff32b; box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 -5px 6px rgba(0,0,0,.25) inset}
.btn-block { font-size: 18px; display: block; width: 100%; margin-bottom: 10px; padding: 15px 0; box-sizing: border-box;}
.disabled { opacity: .4;}
.img img { width: 100%; vertical-align: top;}
.relative { position: relative;}
.absolute { position: absolute;}
.fixed { position: fixed;}
/*开始*/
.home {position: fixed;overflow-x: hidden;
top: 0;
left: 0;height: 100%; display: none; width:100%; min-width:3.2rem; max-width:6.4rem; margin: 0 auto; background: #bc1b04 url(../../images/game/a.jpg) center 0 no-repeat; background-size: 100%;}
.qr2 { position: absolute; left: .24rem; top: .24rem; width: 50px; height: 50px}
.h-a1 { -webkit-animation-duration: .5s}
.h-a1 img { margin-top: -11px;}
.h-a2-box { z-index: 3; width: 100%; margin-top: 36px;}
.h-a2-box .h-a2 { position: relative; z-index: 5; -webkit-animation-delay: .5s; animation-delay: .5s;}
.h-a2-box .h-a3 { opacity: 0; position: absolute; left: 6px; top: -28%; z-index: 4; width: 32.5%; -webkit-animation-delay: 1s; animation-delay: 1s;}
.h-a2-box .h-a4 { opacity: 0; position: absolute; left: 37%; top: -64%; z-index: 4; width: 38.75%; -webkit-animation-delay: 1s; animation-delay: 1s;}
@media screen and (min-width:400px) and (max-width:500px){
	.h-a2-box .h-a4 {
		 top: -50%;
	}
}
@media screen and (min-width:501px) and (max-width:1280px){
	.h-a2-box .h-a4 {
		 top: -44%;
	}
}
.h-a2-box .h-a5 { position: absolute; left: 17px; bottom: -2px; z-index: 4; width: 9.6875%; opacity: 0; -webkit-animation-delay: 1s; animation-delay: 1s;}
.h-a2-box .h-a6 { position: absolute; right: 9px; bottom: 10px; z-index: 4; width: 17.5%; opacity: 0; -webkit-animation-delay: 1s; animation-delay: 1s;}
.h-a2-box .h-a5 img { -webkit-animation: rotateLeft 1.2s linear infinite 2s;}
.h-a2-box .h-a6 img { -webkit-animation: rotateRight 1.2s linear infinite 2s;}
.h-a2-box .h-a7 { position: absolute; top: -50%; bottom: 0; z-index: 4; width: 100%; -webkit-animation-delay: 1s; animation-delay: 1s;}
.h-a2-box .h-a8 { position: absolute; top: -46%; bottom: 0; z-index: 4; width: 100%; -webkit-animation-delay: 1s; animation-delay: 1s;}
.h-a3-box { margin-top: -14%; padding-bottom: .1rem; overflow: hidden; background: url(../../images/game/a1.jpg) center 0 no-repeat; background-size: 100% 100%;}
.h-a9 { -webkit-animation-delay: 1.5s; animation-delay: 1.5s; margin-top: 14%;}
.h-a10 { background: url(../../images/game/a11.png) center 0 no-repeat; background-size: 100%;}
.h-a10 img { -webkit-animation-delay: 1.8s; animation-delay: 1.8s;}

@media screen and (min-width:400px) and (max-width:500px){
	.h-a9 {
	  margin-top: 18%;
	}
}
@media screen and (min-width:501px) and (max-width:1280px){
	.h-a9 {
	  margin-top: 20%;
	}
}
.h-btn { padding: 0 0 4%; text-align: center; -webkit-animation-delay: 2.8s; animation-delay: 2.8s;}
.h-a3-box .btn { padding: 8px 20px; margin-bottom: 12px; font-size: .24rem; font-weight: 700; color: #670f0b;}
.h-a3-box .start-btn { width: 60%; padding: 15px 0; text-indent: 15px;}
.h-a3-box .start-btn:after { content: ''; display: inline-block; margin-left: 8px; width: 0; height: 0; line-height: 0; font-size: 0; border-style: solid; border-width: 12px 9px; vertical-align: top; border-color: transparent transparent #670f0b transparent; -webkit-transform: rotate(90deg);}
.h-btn .time { margin-bottom: .1rem; font-size: .1rem; color: #fff}
.h-btn .btn-js { width: 40%; background-color: #feb70d}

/*after*/
.after {position: absolute;top: 0;z-index: 99;width: 100%;height: 100%;background-color: #0cb2fe;padding-top: 32%; background: url(../../images/game/b.jpg) center 0 no-repeat; background-size: 100%;}
.getgold { text-align: center;}
.getgold h2 { font-size: .5rem; color: #fff32b;}
.getgold p { font-size: .3rem; color: #fff;}
.btn-group { padding: 10px 0;}
.btn-group:last-child { margin-top: 10px}
.btn-group a { width: 80%; padding: 8px 0; font-size: .18rem; color: #022daa;}
.btn-group .convert { width: 50%; margin-top: .15rem; font-weight: 700; color: #f00;}

/*头部*/
.m-top { position: relative; height: .45rem; background: #ff520c;}
.m-top h1 { width: 100%; line-height: .45rem; padding: 0 .4rem; text-align: center; box-sizing:border-box; font-size: .2rem; color: #fff;}
.m-top a { position: absolute; top: 0; width: .4rem; height: 100%;}
.m-top a span { display: block; width: 24px; height: 20px; margin: 12px auto 0; text-indent: -999em; overflow: hidden; background-size: 21px 20px;}
.m-top .a-home { left: 0;}
.m-top .a-me { right: 0;}
.a-home span { background: url(../../images/game/home.png) 0 0 no-repeat;}
.a-me span { background: url(../../images/game/me.png) 0 0 no-repeat;}

/*排行榜*/
.rank-list { overflow: hidden; display: table; width: 100%; color: #666;}
.rank-list li { display: table-row; width: 100%;}
.rank-list li:nth-child(2n+2) { background: #fff;}
.rank-list li:nth-child(11) .name { line-height: 36px; text-indent: 12%;}
.rank-list li:nth-child(12) { font-weight: 700; background: #ff520c; color: #fff;}
.rank-list li p { display: table-cell; padding: 8px 0; vertical-align: middle;}
.rank-list li .No { width: 15%; text-align: center;}
.rank-list li .pic { width: 22%;}
.rank-list li .pic img { width: 100%; height: 100%; max-width: 50px; max-height: 50px; border-radius: 100%; vertical-align: middle;}
.rank-list li .name { width: 32%;}
.rank-list li .coin { width: 31%; text-align: center;}

/*挑战好友名单*/
.personal { overflow: hidden; margin-bottom: 56px;}
.personal li { display: table-row; width: 100%; margin-bottom: 10px; background: #fff;}
.personal li p { display: table-cell; padding: 8px 0; vertical-align: middle; border-bottom: solid 10px #edf2c5;}
.personal li p span { display: block;}
.personal li .pic { width: 30%; text-align: center; vertical-align: top;}
.personal li .pic img { width: 100%; height: 100%; max-width: 50px; max-height: 50px; border-radius: 100%; vertical-align: middle;}
.personal li .pic span { display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; line-height: .26rem; overflow:hidden; text-overflow:ellipsis; word-break:break-all; color:#333;}
.personal li .arrow { width: 10%; padding-bottom: .3rem; text-align: center;}
.arrow .icon { display: block; width: 30px; height: 12px; background: url(../../images/game/arrow.png) center center no-repeat; background-size: 30px 12px;}
.personal li .result { width: 30%; text-align: center;}
.winner { font-size: .2rem; color: #ff520c;}
.footer { display: -webkit-box; position: fixed; left: 0; bottom: 0; z-index: 9; width: 100%; padding: 12px 10px; box-sizing:border-box; box-shadow: 0 -1px 10px rgba(0,0,0,.2); background: #fff; border-top: solid 1px #ddd;}
.footer p { -webkit-box-flex: 1; line-height: 31px; color: #ff520c;}
.footer .btn { vertical-align: middle; border-radius: 5px; background: #ff520c;}

/*游戏介绍*/
.introduce { padding: .2rem; padding-bottom: 0; overflow: hidden; color: #444;}
.introduce li { margin-bottom: .2rem;}
.introduce li:nth-child(2n+7), .introduce li:nth-child(2n+8) { margin-bottom: 0;}
.introduce strong { font-weight: 700;}
.tips { margin: .2rem 0; text-align: center; font-size: .10rem; color: #666;}

/*奖励方案*/
.reward .img { padding: 20px 0}
.reward p { padding: .1rem .2rem; line-height: .26rem; text-indent: 2em;}
.reward span { color: #ff520c}

/*二维码弹窗*/
.qrcode { display: none; position: absolute; left: 50%; top: 5%; z-index: 1000; width: 90%; margin-left: -45%; font-size: .14rem; background: #fff32b; color: #670f0b;}
.qrcode .qr-top { position: relative; padding: .1rem .2rem; border-top: solid 10px rgba(200,153,41,.45);}
.qrcode .qr-top h2 { text-align: center; font-size: .3rem; color: #ff530c;}
.qrcode .qr-top .close { position: absolute; top: .1rem; right: .1rem; width: 23px; height: 23px; line-height: 23px; text-align: center; border-radius: 100%; border: solid 1px #000; font-family: arial;}
.qrcode p { line-height: .16rem;}
.qrcode span { margin: 0 5px;}
.qrcode .qr-content { padding: 0 .2rem;}
.qrcode .qr-bottom { padding: .08rem .2rem; margin-top: .1rem; background: #fff;}

/*领取奖品弹窗*/
.showPrize { display: none; position: absolute; left: 50%; top: 30%; z-index: 1000; width: 90%; margin-left: -45%; font-size: .14rem; background: #fff32b; color: #670f0b;}
.showPrize .sp-content h2 { padding: .1rem .2rem; border-top: solid 10px rgba(200,153,41,.45); text-align: center; font-size: .3rem; color: #ff530c;}
.showPrize .sp-content p { padding: 0 .2rem .1rem;}
.showPrize .sp-btn { padding: .15rem 0 .25rem; text-align: center;}
.showPrize .sp-btn .btn { font-size: .16rem; border-radius: 3px; background: #1dccff;}
.btn-submit { padding: 12px .6rem;}
.btn-share { padding: 12px .2rem;}
.orange { font-weight: 700; color: #ff530c;}
.blue { font-weight: 700; color: #11d5ff!important;}

.showPrize h5 { padding: .1rem 0; border-top: solid 10px rgba(200,153,41,.45); text-align: center; white-space: nowrap; font-size: .18rem; color: #ff530c;}
.showPrize h6 { text-align: center; font-size: .14rem}
.confirmChangePrize .btn { width: 30%; margin: 0 .05rem}

/*分享提示*/
.share { display: none; position: absolute; right: 0; top: .2rem; z-index: 1000; padding: .12rem;}
.mask { display: none; position: absolute; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; background: rgba(0,0,0,.8)}

/*animate*/
@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}



@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes rotateLeft {
	from {
		-webkit-transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(-360deg)
	}
}
@keyframes rotateLeft {
	from {
		-webkit-transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(-360deg)
	}
}

@-webkit-keyframes rotateRight {
	from {
		-webkit-transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(360deg)
	}
}
@keyframes rotateRight {
	from {
		-webkit-transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(360deg)
	}
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
