body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, fieldset, input, textarea, pre {
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:400
}
i, cite, em, var, address, dfn {
    font-style:normal
}
em, strong, i, s, b, u {
    font-style:normal;
    font-weight:normal;
    text-decoration:none
}
a:-webkit-any-link {
    text-decoration:none
}
table {
    border-collapse:collapse;
    border-spacing:0
}
fieldset, iframe {
    border:0
}
ol, ul {
    list-style:none
}
input, textarea, select, button {
    font-family:inherit;
    font-weight:inherit;
    font-size:inherit;
    margin:0
}
select, button, input {
    color:inherit
}
input[type="submit"], input[type="reset"], input[type="button"], input {
    -webkit-appearance:none
}
input:focus, textarea:focus {
    outline:none
}
input:focus {
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    -webkit-user-modify:read-write-plaintext-only
}
html {
    -webkit-text-size-adjust:none;
    -ms-touch-action:none;
    height:100%
}
body {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    position:relative;
    height:100%;
    overflow:hidden;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    line-height:1.5;
    background:#eee;
    font-size:62.5% color:#666
}
a {
    text-decoration:none;
    -webkit-tap-highlight-color:transparent;
    color:#666
}
a img {
    border:0;
    vertical-align:middle
}
.img img {
    width:100%;
    vertical-align:middle
}
.topfigure {
    position:relative;
    max-width:640px;
    min-width:320px;
    width:100%;
    margin:0 auto
}
.btn-bindphone {
    position:absolute;
    left:50%;
    bottom:7%;
    display:block;
    width:40%;
    padding:1% 0;
    margin-left:-20%;
    text-align:center;
    background:#ffc743;
    border-radius:5px;
    color:#221e1e
}
.ticket-container {
    height:100%
}
.swiper-container {
    width:100%;
    height:100%;
    color:#000;
    text-align:center
}
.red-slide {
    background:#ca4040
}
.blue-slide {
    background:#4390ee
}
.orange-slide {
    background:#ff8604
}
.green-slide {
    background:#49a430
}
.pink-slide {
    background:#973e76
}
.pagination {
    position:absolute;
    z-index:20;
    left:10px;
    bottom:10px
}
.swiper-pagination-switch {
    display:inline-block;
    width:8px;
    height:8px;
    border-radius:8px;
    background:#222;
    margin-right:5px;
    opacity:.8;
    border:1px solid #fff;
    cursor:pointer
}
.swiper-visible-switch {
    background:#aaa
}
.swiper-active-switch {
    background:#fff
}
.swiper-ticket {
    width:100%;
    height:38px;
    color:#fff;
    text-align:center
}
.swiper-ticket .title {
    font-size:18px;
    margin-bottom:0;
    line-height:45px;
    text-align:center;
    background:#B9BFC1
}
.swiper-slide {
    text-align:left;
    position:relative
}
.link {
    padding:0 10px;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
    background-color:#fafafa;
    font-size:14px
}
.bar {
    position:absolute;
    height:2px;
    bottom:0;
    overflow:hidden;
    -webkit-box-sizing:border-box;
    padding:0 10px;
    -webkit-transition:left 200ms ease-out
}
.current {
    color:red
}
#wapper0, #wapper1, #wapper2, #wapper3, #wapper4, #wapper5, #wapper6, #wapper7, #wapper8, #wapper9 {
    position:absolute;
    z-index:1;
    top:0;
    bottom:0;
    left:0;
    width:100%;
    background:#ccc;
    overflow:hidden
}
.scroller {
    -webkit-transform-origin:0 0;
    -webkit-transform:scale(1, 1);
    position:absolute;
    z-index:1;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    width:100%;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
    -o-text-size-adjust:none;
    text-size-adjust:none
}
.scroller ul {
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left
}
.scroller li {
    padding:0 10px;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
    background-color:#fafafa;
    font-size:14px
}
.ticket-container .list {
    padding: 10px 10px 0
}
.stamp {
    width: 100%;
    height: 124px;
    padding-left: 7px;
    position: relative;
    overflow: hidden;
    background: #fa6616;
    background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #fa6616 5px);
    background-size: 13px 12px;
    background-position: 7px 2px;
    -webkit-box-sizing:border-box;
    sizing:border-box;
}
.stamp:before {
    content:'';
    position: absolute;
    top:0;
    bottom:0;
    left:7px;
    right:0px;
    z-index: -1;
    background-color:#fa6616;
}
.stamp:after {
    content:'';
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    z-index: -2;
}
.stamp i {
    position: absolute;
    right: -23%;
    top: 37%;
    height: 150%;
    width: 100%;
    background-color: rgba(255, 255, 255, .15);
    transform: rotate(-30deg);
}
.stamp .par {
    float: left;
    width:36%;
    padding: 16px 0 16px 10px;
    border-right:2px dashed rgba(255, 255, 255, .3);
    text-align: left;
}
.stamp .par p {
    color:#fff;
}
.stamp .par .img {
    width:60px;
}
.stamp .par span {
    font-size: 35px;
    color:#fff;
    margin-right: 5px;
}
.stamp .par .sign {
    font-size: 16px;
}
.stamp .par sub {
    position: relative;
    top:-5px;
    color:rgba(255, 255, 255, .8);
}
.stamp .stub {
    padding: 10px 6px 10px 12px;
    text-align:center;
    font-size: 20px;
    color:#fff;
}
.stamp .stub p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.stamp .stub a {
    background-color:#fff;
    color:#fa6616;
    font-size: 14px;
    text-decoration:none;
    padding:5px 10px;
    margin-left:5px;
    border-radius:3px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .5)
}
.stamp .stub .limit {
    display:-webkit-box;
    -webkit-line-clamp:2;
    line-clamp:2;
    -webkit-box-orient:vertical;
    -ms-box-orient:vertical;
    box-orient:vertical;
    overflow:hidden;
    text-overflow:ellipsis;
    word-break:break-all;
    font-size: 13px;
    line-height: 16px
}