@charset "utf-8";
/*reset*/
html { font-size:62.5%;}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd { margin:0; padding:0;}
html,body{position:relative;height:100%}
body{ width:100%; min-width:320px; max-width:640px; line-height:1.6rem; margin:0 auto; -webkit-user-select:none;-webkit-text-size-adjust:100% !important;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:1.4rem;  background:#008f77;color:#666;}
h1,h2,h3,h4,h5,h6 { font-size: 100%;}
a { text-decoration:none; -webkit-tap-highlight-color:rgba(255,68,0,.25); color:#666;}
a img { border:0; vertical-align:top;}
ol, ul { list-style-type:none;}
em, strong, i, s, b { font-style:normal; font-weight:normal; text-decoration:none;}
a, input, select, textarea { outline:0; resize:none;}

/*img*/
.img img { width: 100%; vertical-align: middle;}

/*页头*/
.topNav{ height:50px; text-align:center; background:#ff520c;}
.topNav h1 { font-weight: 700; font-size: 30px; line-height: 50px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; color:#fff;}
/*头图*/
.figure { margin-bottom: 1.5rem;}
.figure .txt { position: relative; width:84%; padding:3%; margin: -26px auto 0; font-size: 14px; border:1px dashed #fff; background-color:rgba(72,64,42,.5); color: #fff;}
/*异业券*/
.redeem { padding: 0 1rem; margin-bottom: 10px; border-bottom: 5px solid #fff;}
.redeem .txt { line-height: 30px; text-align: right; font-size: 14px; color: #fff;}
.ticketList .redeem:last-child { margin-bottom: 10px; border-bottom: none}
/*弹出层*/
.pop { display: none; -webkit-transition: all linear .4s; transition: all linear .4s; position: fixed; left: 50%; top: 30%; z-index: 1000; width: 70%; padding: 8px; text-align: center; margin-left: -35%; box-shadow: 1px 1px 20px rgba(0, 0, 0, .5); border-radius: 5px; background: #cc1515;}
.pop .inner { padding: 7px; border: dashed 1px #fff; color: #fff}
.pop-btns { margin-top: 6px}
.pop-btns .btn-close { display: inline-block; padding: 2px 8px; background: #ff0; color: #cc1515}
/*mask*/
.mask { display: none; -webkit-transition: all linear .4s; transition: all linear .4s; position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; background: rgba(0,0,0,.8)}
