/*reset*/
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, fieldset, input, textarea, pre { margin: 0; padding: 0}
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: 400}
i,cite,em,var,address,dfn { font-style: normal}
em, strong, i, s, b, u { font-style: normal; font-weight: normal; text-decoration: none}
a:-webkit-any-link { text-decoration: none}
table { border-collapse: collapse; border-spacing: 0}
fieldset,iframe { border: 0}
ol,ul {	list-style: none}
input,textarea,select,button { font-family: inherit; font-weight: inherit; font-size: inherit; margin: 0}
select,button,input { color: inherit}
input[type="submit"],input[type="reset"],input[type="button"],input{ -webkit-appearance:none}
input:focus, textarea:focus { outline: none}
input:focus{ -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-modify:read-write-plaintext-only}
html { -webkit-text-size-adjust: none;  font-size: 62.5%}
body { font: 1.3rem/1.5 'Helvetica Neue',Helvetica,sans-serif; background: #eee; color: #666}
a { text-decoration: none; -webkit-tap-highlight-color: transparent; color: #666}
a img {	border: 0; vertical-align: middle}

.img img { width: 100%}
.pop .inside,
.popBtn,
.adc-rule h3:before,
.btn-exchange { background-image: url(../images/fans.png); background-repeat: no-repeat; background-size: 260px 365px}
/*flex*/
.flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row}
.flex, .flex *, .flex:after, .flex:before { -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box}
.flex .cell { -webkit-box-flex: 1; -ms-box-flex: 1; box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; -webkit-flex-basis: 0; -ms-flex-basis: 0; flex-basis: 0; position: relative; width: 0; max-width: 100%; display: block; padding: 0!important}

/*loading*/
.loading { position: fixed; left: 50%; top: 40%; z-index: 100; width: 120px; height: 120px; margin: 0 0 0 -60px; text-align: center; border-radius: 10px; background:#fff}
.loading .loadimg { -webkit-animation: rotate 1.2s linear infinite; -ms-animation: rotate 1.2s linear infinite; animation: rotate 1.2s linear infinite; min-width: 30px; min-height: 30px; margin: 30px auto 10px; background: url(../images/loading.png) no-repeat 50% 50%}
@-webkit-keyframes rotate {
	from { -webkit-transform: rotate(0)}
	to {-webkit-transform: rotate(360deg)}
}
@-ms-keyframes rotate {
	from { -ms-transform: rotate(0)}
	to {-ms-transform: rotate(360deg)}
}
@keyframes rotate {
	from {-webkit-transform: rotate(0)}
	to {-webkit-transform: rotate(360deg)}
}
.loadMask { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 99; opacity: .8; background: #000}

/*用于将 html body 禁止滚动条*/
.active { -webkit-transform-origin: 0px 0px; -ms-transform-origin: 0px 0px; transform-origin: 0px 0px; -webkit-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1)}
.active-page, .active-page body { height: 100%; overflow: hidden}
/*3D转换*/
.translate3d { overflow: hidden; -webkit-transform: translate3d(224px, 0px, 0px); transform: translate3d(224px, 0px, 0px); -webkit-transition: transform 2s linear; transition: transform 2s linear}


img.bg { position: fixed; left: 0; top: 0; z-index: -1; width: 100%; height: 100%;}

.fan-title { width: 100%; line-height: 44px; overflow: hidden; font-size: 18px; font-weight: 500; text-align: center; background: rgba(51,51,51,.5); color: #fff}
.fan-coupon { overflow: hidden; text-align: center;}
.fan-coupon li { margin-top: 1.5rem;}
.fan-coupon a img { width: 78.125%; border: solid .5rem #006335;}

/*爱大厨页面*/
#ADC_code { width: 80%; line-height: 4.5rem; margin: 3rem auto 0; font-size: 2.2rem; font-family: arial; text-align: center; border: dashed 2px #633319; border-radius: 6px; color: #633319}
.adc-rule { -webkit-box-sizing: border-box; -box-sizing: border-box; width: 86.875%; padding: 3rem 0 2rem 1.5rem; margin: 2rem auto; background: #f9e9a2; border-radius: 6px;}
.adc-rule h3 { position: relative; padding-left: 1rem; font-size: 2.5rem; background: #63c1b1; color: #f4c53a}
.adc-rule h3:before { content: ''; position: absolute; left: -40px; top: -18px; width: 40px; height: 58px; background-position: -220px -204px}
.adc-rule ul { margin-top: 1.5rem}
.adc-rule ul~h3 { margin-top: 2rem; background-color: #ea968f}
.adc-rule ul~h3:before { background-position: -220px -268px}
.adc-rule li { padding: .3rem 0; line-height: 16px;}

/*兑换*/
.exchange-content { margin-top: 35%}
.btn-box { margin-bottom: 2rem}
.btn-exchange { display: block; width: 206px; height: 58px; line-height: 54px; margin: 0 auto; font-size: 2.5rem; text-align: center; background-position: 0 -204px; color: #221815}
.btn-exchange.disabled { background-position: 0 -268px; color: #666}
.exchange-content .hint { -webkit-box-sizing: border-box; -box-sizing: border-box; width: 65%; padding: 5%; margin: 0 auto; background: #c4d0a5}
.exchange-pop { color: #000}
.pop { display:-webkit-box; -webkit-box-orient:horizontal; -webkit-box-pack:center; -webkit-box-align:center; display:-o-box; -o-box-orient:horizontal; -o-box-pack:center; -o-box-align:center; display:-ms-box; -ms-box-orient:horizontal; -ms-box-pack:center; -ms-box-align:center; display:box; box-orient:horizontal; box-pack:center; box-align:center; position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; pointer-events: none; opacity: 0}
.pop .inside { -webikit-box-sizing: border-box; box-sizing: border-box; z-index: 1000; position: relative; width: 260px; height: 200px; overflow: hidden; padding: 2rem; text-align: center; background-position: 0 0}
.active-page .pop { pointer-events: auto; opacity: 1}
.pop h3.title { padding: .5rem 0; border-radius: 8px; font-size: 22px; background: #efea3a; color: #006335}
.pop h4.title { margin-bottom: 1rem; font-size: 20px; color: #006335}
.pop .close { position: absolute; right: .8rem; top: .4rem; width: 25px; height: 25px; background: #0c6549; border-radius: 100%; -webkit-transform:rotate(45deg); transform:rotate(45deg);}
.pop .close:before, .pop .close:after { content: ''; position: absolute; background: #fff;}
.pop .close:before { width: 3px; height: 19px; left: 11px; top: 3px;}
.pop .close:after { width: 19px; height: 3px; left: 3px; top: 11px;}
.pop .gained { line-height: 22px; margin-top: .8rem; font-size: 16px; color: #efea3a;}
.pop .priceType { font-size: 18px; font-weight: 700; color: #fff}
.pop .usePoint { font-size: 18px; font-weight: 500; color: #006335}
.pop .usePoint b { font-weight: 700; color: #ec651a}
.pop .exchange { font-size: 20px; font-weight: 700; color: #006335}
.pop .title ~ .hint { font-size: 1.4rem}
.pop .hint { font-size: 1.8rem; color: #006335}
.pop .btn { margin-top: 1rem}
.pop .popBtn { display: inline-block; width: 143px; height: 35px; line-height: 30px; font-size: 18px; font-weight: 700; background-position: 0 -330px; color: #f9f8cb}

.tickets-tips { width: 78.125%; line-height: 3rem; margin: 2rem auto; font-size:1.5rem; text-align:center; background:rgba(0,0,0,.5); color:#eee; border:solid .5rem rgba(0,0,0,.0); border-radius:5px}